/* hey browser it's me amrabdelaziz D: */
/* body element */
body {
	padding: 0px; margin: 0px;
	font:normal 12px tahoma; color: #fff; text-decoration: none;
	background: #333;
}
/* header element */
header {
	width: 576px; height: 386px;
	position: relative;
	margin: 0px auto; margin-top: 60px;
}
/* amrcont image */
a.amrcont {
	display: block;
	float: right;
	width: 576px; height: 358px;
	background: url(images/cont.png) no-repeat scroll bottom left transparent;
}
/* unordered list [ socials ] */
ul.socials {
	display: block; 
	list-style: none;
	width: 220px; height: 27px;
	padding: 0px; margin: 0px;
	position: absolute; bottom: 8px; left: 120px;
}
/* list items */
ul.socials li {
	list-style: none;
	padding: 0px; margin: 0px 3px 0px 0px;
	float: left;
}
/* custom last child */
ul.socials li:last-child {
	margin-right: 0px;
}
/* anchortag */
ul.socials li a {
	display: block;
	width: 27px; height: 27px;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
/* hover */
ul.socials li a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
/* custom anchor tag */
ul.socials li a.facebook {
	background: url(images/cont.png) no-repeat scroll -0px -0px transparent;
}
ul.socials li a.twitter {
	background: url(images/cont.png) no-repeat scroll -27px -0px transparent;
}
ul.socials li a.youtube {
	background: url(images/cont.png) no-repeat scroll -54px -0px transparent;
}
ul.socials li a.github {
	background: url(images/cont.png) no-repeat scroll -81px -0px transparent;
}
ul.socials li a.dribble {
	background: url(images/cont.png) no-repeat scroll -108px -0px transparent;
}
ul.socials li a.deviantart {
	background: url(images/cont.png) no-repeat scroll -135px -0px transparent;
}
ul.socials li a.themeforest {
	background: url(images/cont.png) no-repeat scroll -162px -0px transparent;
}
/* goodbye browser see you soon :D */
